#fundo {
    width: 100%;
    filter: brightness(30%);
    z-index: 0;
    position: fixed;
}
#mobile {
    width: 120%;
    filter: brightness(30%);
    z-index: 0;
    position: fixed;
    display: none;
}
body {
    background-color: #263238;
}
#andre {
    border-radius: 50%;
    width: 18%;
    position: absolute;
    z-index: 1;
    left: 20pt;
    top: 380pt;
    border: solid #0fda0f 5px;
}
#logo {
    position: absolute;
    width: 15%;
    left: 46%;
    z-index: 1;
    cursor: pointer;
}
#sobre {
    left: 40%;
    top: 100pt;
    position: absolute;
}
#base {
    color: white;
    font-family: arial;
}
#zeca {
    position: absolute;
    top: 380pt;
    left: 23%;
    z-index: 1;
    font-size: 50px;
}
#desc {
    position: absolute;
    top: 200pt;
    left: 5%;
    z-index: 1;
    font-size: 30px;
    text-align: center;
}
#africano {
    position: absolute;
    top: 450pt;
    left: 23%;
    z-index: 1;
    font-size: 25px;
}
@media screen and (max-width: 600px) {
    #fundo {
        width: 100%;
        filter: brightness(30%);
        z-index: 0;
        position: fixed;
        display: none;
    }
    #mobile {
        width: 100%;
        filter: brightness(30%);
        z-index: 0;
        position: fixed;
        display: block;
    }
    body {
        background-color: #2c2c2c;
    }
    #andre {
        border-radius: 50%;
        width: 25%;
        position: absolute;
        z-index: 1;
        left: 50pt;
        top: 450pt;
        border: solid #0fda0f 5px;
    }
    #logo {
        position: absolute;
        width: 40%;
        left: 25%;
        z-index: 1;
    }
    #sobre {
        left: 10%;
        top: 80pt;
        position: absolute;
        font-size: 30px;
    }
    #base {
        color: white;
        font-family: arial;
    }
    #zeca {
        position: absolute;
        top: 415pt;
        left: 35%;
        z-index: 1;
        font-size: 50px;
        text-align: center;
    }
    #desc {
        position: absolute;
        top: 130pt;
        left: 5%;
        z-index: 1;
        font-size: 25px;
        text-align: center;
    }
    #africano {
        position: absolute;
        top: 540pt;
        left: 5%;
        z-index: 1;
        font-size: 25px;
    }    
}